@font-face {
    font-family: "Nunito Sans";
    src: url(../../assets/font/NunitoSans-Regular.woff);
    font-weight: 400;
}

@font-face {
    font-family: "Nunito Sans";
    src: url(../../assets/font/NunitoSans-Medium.woff);
    font-weight: 500;
}

@font-face {
    font-family: "Nunito Sans";
    src: url(../../assets/font/NunitoSans-Bold.woff);
    font-weight: 700;
}

