@font-face {
  font-family: "Nunito Sans";
  src: url("/assets/font/NunitoSans-Regular.woff") format("woff"), url("/assets/font/alternative files/NunitoSans-Regular") format("woff2");
  font-weight: 400;
}
@font-face {
  font-family: "Nunito Sans";
  src: url("/assets/font/NunitoSans-Medium.woff") format("woff"), url("/assets/font/alternative files/NunitoSans-Medium") format("woff2");
  font-weight: 500;
}
@font-face {
  font-family: "Nunito Sans";
  src: url("/assets/font/NunitoSans-Bold.woff") format("woff"), url("/assets/font/alternative files/NunitoSans-Bold") format("woff2");
  font-weight: bold 700;
}
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Nunito Sans";
}
@media (min-width: 320px) {
  body {
    padding-left: 16px;
    padding-right: 16px;
  }
}
@media (min-width: 768px) {
  body {
    padding-left: 36px;
    padding-right: 36px;
  }
}
@media (min-width: 1280px) {
  body {
    padding-left: auto;
    padding-right: auto;
  }
}

@media (min-width: 320px) {
  h1 {
    font-size: 24px;
    font-weight: 700;
    line-height: 32px;
    padding-top: 24px;
    padding-bottom: 16px;
    margin-bottom: 16px;
    margin-left: 2rem;
  }
}
@media (min-width: 768px) {
  h1 {
    font-size: 60px;
    font-weight: 700;
    line-height: 68px;
    padding-top: 48px;
    padding-bottom: 36px;
    margin-bottom: 36px;
  }
}
@media (min-width: 1280px) {
  h1 {
    font-size: 60px;
    font-weight: 700;
    line-height: 68px;
    padding-top: 48px;
    padding-bottom: 36px;
    margin-bottom: 36px;
  }
}

@media (min-width: 320px) {
  h2 {
    font-size: 24px;
    font-weight: 700;
    line-height: 32px;
    padding-top: 24px;
    padding-bottom: 16px;
    margin-bottom: 16px;
  }
}
@media (min-width: 768px) {
  h2 {
    font-size: 36px;
    font-weight: 700;
    line-height: 44px;
    padding-top: 48px;
    padding-bottom: 36px;
    margin-bottom: 36px;
  }
}
@media (min-width: 1280px) {
  h2 {
    font-size: 36px;
    font-weight: 700;
    line-height: 44px;
    padding-top: 48px;
    padding-bottom: 36px;
    margin-bottom: 36px;
  }
}

@media (min-width: 320px) {
  h3 {
    font-size: 14px;
    font-weight: 500;
    line-height: 22px;
    padding-top: 24px;
    padding-bottom: 16px;
    margin-bottom: 16px;
  }
}
@media (min-width: 768px) {
  h3 {
    font-size: 24px;
    font-weight: 500;
    line-height: 32px;
    padding-top: 48px;
    padding-bottom: 36px;
    margin-bottom: 36px;
  }
}
@media (min-width: 1280px) {
  h3 {
    font-size: 24px;
    font-weight: 500;
    line-height: 32px;
    padding-top: 48px;
    padding-bottom: 36px;
    margin-bottom: 36px;
  }
}

@media (min-width: 320px) {
  h4 {
    font-size: 13px;
    font-weight: 400;
    line-height: 18px;
    padding-top: 16px;
    padding-bottom: 16px;
    margin-bottom: 16px;
  }
}
@media (min-width: 768px) {
  h4 {
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
    padding-top: 48px;
    padding-bottom: 36px;
    margin-bottom: 36px;
  }
}
@media (min-width: 1280px) {
  h4 {
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
    padding-top: 48px;
    padding-bottom: 36px;
    margin-bottom: 36px;
  }
}

@media (min-width: 320px) {
  h5 {
    font-size: 13px;
    font-weight: 400;
    line-height: 18px;
    padding-top: 16px;
    padding-bottom: 16px;
    margin-bottom: 16px;
  }
}
@media (min-width: 768px) {
  h5 {
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    padding-top: 48px;
    padding-bottom: 36px;
    margin-bottom: 36px;
  }
}
@media (min-width: 1280px) {
  h5 {
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    padding-top: 48px;
    padding-bottom: 36px;
    margin-bottom: 36px;
  }
}

@media (min-width: 320px) {
  h6 {
    font-size: 10px;
    font-weight: 700;
    line-height: 20px;
    padding-top: 16px;
    padding-bottom: 16px;
    margin-bottom: 16px;
  }
}
@media (min-width: 768px) {
  h6 {
    font-size: 12px;
    font-weight: 700;
    line-height: 20px;
    padding-top: 48px;
    padding-bottom: 36px;
    margin-bottom: 36px;
  }
}
@media (min-width: 1280px) {
  h6 {
    font-size: 12px;
    font-weight: 700;
    line-height: 20px;
    padding-top: 48px;
    padding-bottom: 36px;
    margin-bottom: 36px;
  }
}

.header {
  background-color: #323232;
}

.nav {
  background-color: #323232;
  color: #E1E1E1;
}
.nav__list {
  width: 100%;
  list-style: none;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 2rem;
  margin: 0;
}
.nav__list__item {
  list-style: none;
  flex-grow: 1;
}
.nav__list__item:first-child {
  margin-right: auto;
}
.nav__list__link {
  padding: 0 30px;
  text-decoration: none;
  display: flex;
  align-items: center;
  color: #AFAFAF;
}
.nav__list__link:hover {
  text-decoration: underline;
  font-weight: bold;
  color: #FFFFFF;
}
.nav__list__link--active {
  font-weight: bold;
  color: #FFFFFF;
}

.hero-section {
  width: 100%;
  background-image: url(../assets/images/hero-bio.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  overflow: hidden;
  background-color: #323232;
  justify-content: center;
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  position: relative;
  -o-object-fit: contain;
     object-fit: contain;
}
@media (min-width: 320px) {
  .hero-section {
    height: 50vh;
  }
}
@media (min-width: 768px) {
  .hero-section {
    height: 100vh;
  }
}
@media (min-width: 1280px) {
  .hero-section {
    height: 100vh;
  }
}
.hero-section::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 0;
}
.hero-section__title {
  margin-left: 3rem;
  z-index: 1;
  color: #FFFFFF;
  text-align: center;
}/*# sourceMappingURL=bio.css.map */