@font-face {
  font-family: "Nunito Sans";
  src: url("/assets/font/NunitoSans-Regular.woff") format("woff"), url("/assets/font/alternative files/NunitoSans-Regular") format("woff2");
  font-weight: 400;
}
@font-face {
  font-family: "Nunito Sans";
  src: url("/assets/font/NunitoSans-Medium.woff") format("woff"), url("/assets/font/alternative files/NunitoSans-Medium") format("woff2");
  font-weight: 500;
}
@font-face {
  font-family: "Nunito Sans";
  src: url("/assets/font/NunitoSans-Bold.woff") format("woff"), url("/assets/font/alternative files/NunitoSans-Bold") format("woff2");
  font-weight: bold 700;
}
* {
  box-sizing: border-box;
}

.header {
  background-color: #323232;
}

.nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
}

.header__title {
  margin-bottom: 20px;
}

.header__image {
  width: 120px;
  margin-left: 2rem;
  color: #FFFFFF;
}
@media (min-width: 1280px) {
  .header__image {
    margin-left: 8rem;
  }
}

.nav__list {
  display: flex;
  justify-content: space-around;
  list-style: none;
  padding: 0;
  margin: 0;
  margin-bottom: 0rem;
  width: 100%;
}

.nav__item {
  margin: 0 10px;
}

.nav__link {
  text-decoration: none;
  color: #E1E1E1;
  position: relative;
}

.nav__link--active:hover {
  color: white;
}

.nav__link--active::after {
  content: "";
  position: absolute;
  height: 6px;
  background-color: #FFFFFF;
  transform: scaleX(0);
  transform-origin: bottom right;
  transition: transform 0;
  left: -230%;
  right: -200%;
  bottom: -1.5rem;
}
@media (min-width: 768px) {
  .nav__link--active::after {
    left: 1rem;
    right: 0rem;
    bottom: -2rem;
  }
}

.nav__link--active:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.nav__item:last-child {
  color: #E1E1E1;
  cursor: default;
}

@media (min-width: 768px) {
  .nav {
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
  }
  .header__title {
    margin-right: auto;
    margin-bottom: 0;
  }
  .nav__list {
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    width: auto;
    margin-bottom: 0rem;
  }
  .nav__item {
    margin: 0 20px;
  }
}
@media (min-width: 1280px) {
  .nav {
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
  }
  .header__title {
    margin-right: auto;
    margin-bottom: 0;
  }
  .nav__list {
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    width: auto;
    margin-bottom: -0.6rem;
  }
  .nav__item {
    margin: 0 20px;
  }
}
.hero-section {
  width: 100%;
  background-image: url(../assets/images/hero-bio.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  overflow: hidden;
  background-color: #323232;
  justify-content: center;
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  position: relative;
  -o-object-fit: contain;
     object-fit: contain;
}
@media (min-width: 320px) {
  .hero-section {
    height: 50vh;
  }
}
@media (min-width: 768px) {
  .hero-section {
    height: 80vh;
  }
}
@media (min-width: 1280px) {
  .hero-section {
    height: 80vh;
  }
}
.hero-section::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 0;
}
.hero-section__title {
  margin-left: 3rem;
  z-index: 1;
  color: #FFFFFF;
  text-align: center;
}
@media (min-width: 1280px) {
  .hero-section__title {
    margin-left: 8rem;
  }
}

body {
  margin: 0;
  font-family: "Nunito Sans";
}

@media (min-width: 320px) {
  main {
    padding-left: 16px;
    padding-right: 16px;
  }
}
@media (min-width: 768px) {
  main {
    padding-left: 36px;
    padding-right: 36px;
  }
}
@media (min-width: 1280px) {
  main {
    padding-left: auto;
    padding-right: auto;
  }
}

footer {
  background-color: #323232;
  color: #E1E1E1;
  position: relative;
}

@media (min-width: 768px) {
  .footer-band {
    display: flex;
    justify-content: flex-start;
  }
}

.social-media {
  align-content: center;
}
@media (min-width: 768px) {
  .social-media {
    margin-top: 4rem;
    margin-left: 1rem;
  }
}
@media (min-width: 1280px) {
  .social-media {
    margin-top: 3rem;
    margin-left: 1rem;
  }
}
.social-media__images {
  padding: 1rem;
}
@media (min-width: 768px) {
  .social-media__images {
    padding: 1.5rem;
  }
}

.footer-about {
  display: block;
}
@media (min-width: 768px) {
  .footer-about__contacts:first-child {
    padding-left: 0rem;
  }
}
@media (min-width: 1280px) {
  .footer-about__contacts:first-child {
    padding-left: 0rem;
  }
}
@media (min-width: 768px) {
  .footer-about {
    display: flex;
    justify-content: space-between;
    margin-left: 2%;
    margin-right: 20%;
  }
}
@media (min-width: 1280px) {
  .footer-about {
    display: flex;
    justify-content: space-between;
    margin-left: 4%;
    padding-right: 20%;
    margin-top: -3%;
  }
}

.email-address {
  margin-top: 16px;
}

.footer__image {
  padding: 1rem;
  margin-top: 2rem;
}
@media (min-width: 768px) {
  .footer__image {
    position: absolute;
    top: 4rem;
    right: 2rem;
    width: 120px;
  }
}
@media (min-width: 1280px) {
  .footer__image {
    position: absolute;
    top: 5.5rem;
    right: 5%;
    width: 120px;
  }
}

.footer-copyright {
  padding-bottom: 2rem;
}
@media (min-width: 768px) {
  .footer-copyright {
    padding-top: 3rem;
    padding-bottom: 3rem;
    padding-left: 1rem;
  }
}
@media (min-width: 1280px) {
  .footer-copyright {
    padding: 3rem;
  }
}

@media (min-width: 320px) {
  h1 {
    font-size: 24px;
    font-weight: 700;
    line-height: 32px;
    padding-top: 24px;
    padding-bottom: 16px;
    margin-bottom: 16px;
    margin-left: 1rem;
  }
}
@media (min-width: 768px) {
  h1 {
    font-size: 60px;
    font-weight: 700;
    line-height: 68px;
    margin-left: 2rem;
  }
}
@media (min-width: 1280px) {
  h1 {
    font-size: 60px;
    font-weight: 700;
    line-height: 68px;
    padding-top: 48px;
    padding-bottom: 36px;
    margin-bottom: 36px;
    margin-left: 4rem;
  }
}

@media (min-width: 320px) {
  h2 {
    font-size: 24px;
    font-weight: 700;
    line-height: 32px;
    padding-bottom: 16px;
    margin-left: 1rem;
  }
}
@media (min-width: 768px) {
  h2 {
    font-size: 36px;
    font-weight: 700;
    line-height: 44px;
    padding-bottom: 36px;
  }
}
@media (min-width: 1280px) {
  h2 {
    font-size: 36px;
    font-weight: 700;
    line-height: 44px;
    margin-bottom: 36px;
  }
}

@media (min-width: 320px) {
  h3 {
    font-size: 14px;
    font-weight: 500;
    line-height: 22px;
    margin-left: 1rem;
  }
}
@media (min-width: 768px) {
  h3 {
    font-size: 24px;
    font-weight: 500;
    line-height: 32px;
  }
}
@media (min-width: 1280px) {
  h3 {
    font-size: 24px;
    font-weight: 500;
    line-height: 32px;
    margin-bottom: 36px;
  }
}

@media (min-width: 320px) {
  h4 {
    font-size: 13px;
    font-weight: 400;
    line-height: 18px;
    margin-left: 1rem;
  }
}
@media (min-width: 768px) {
  h4 {
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
    margin-bottom: 36px;
  }
}
@media (min-width: 1280px) {
  h4 {
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
    margin-bottom: 36px;
  }
}

@media (min-width: 320px) {
  .footer-copy-bold {
    font-size: 13px;
    font-weight: 700;
    line-height: 18px;
    margin-left: 1rem;
  }
}
@media (min-width: 768px) {
  .footer-copy-bold {
    font-size: 14px;
    font-weight: 700;
    line-height: 20px;
  }
}
@media (min-width: 1280px) {
  .footer-copy-bold {
    font-size: 14px;
    font-weight: 700;
    line-height: 20px;
  }
}

@media (min-width: 320px) {
  .footer-copy {
    font-size: 13px;
    font-weight: 400;
    line-height: 18px;
    margin-left: 1rem;
    margin-top: 0;
    margin-bottom: 0;
  }
}
@media (min-width: 768px) {
  .footer-copy {
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
  }
}
@media (min-width: 1280px) {
  .footer-copy {
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
  }
}

@media (min-width: 320px) {
  .label-button {
    font-size: 10px;
    font-weight: 700;
    line-height: 20px;
  }
}
@media (min-width: 768px) {
  .label-button {
    font-size: 12px;
    font-weight: 700;
    line-height: 20px;
  }
}
@media (min-width: 1280px) {
  .label-button {
    font-size: 12px;
    font-weight: 700;
    line-height: 20px;
  }
}

main {
  background-color: #FFFFFF;
}

@media (min-width: 768px) {
  .about-section__description {
    margin-left: 6rem;
    margin-right: 6rem;
  }
}
@media (min-width: 1280px) {
  .about-section__description {
    margin-left: 10rem;
    margin-right: 10rem;
  }
}

.about-section__image {
  height: 50vh;
}
@media (min-width: 320px) {
  .about-section__image {
    width: 96%;
    margin-left: 1rem;
  }
}
@media (min-width: 768px) {
  .about-section__image {
    width: 100%;
    margin-left: 0rem;
    justify-content: center;
  }
}
@media (min-width: 1280px) {
  .about-section__image {
    width: 100%;
  }
}

.about-section-style {
  margin-top: -1rem;
}
@media (min-width: 768px) {
  .about-section-style {
    margin-top: -3rem;
  }
}

.about-section-sub-title {
  font-weight: 700;
}

.bee-description {
  display: block;
}
@media (min-width: 1280px) {
  .bee-description {
    display: flex;
    gap: 1rem;
    align-items: flex-start;
  }
}

.photo-gallery {
  background-color: #FAFAFA;
}
.photo-gallery__title {
  margin-bottom: -1rem;
}
.photo-gallery__list {
  padding: 1rem;
  display: flex;
  flex-direction: column;
}
@media (min-width: 320px) {
  .photo-gallery__list {
    gap: 2rem;
    margin-right: 1rem;
  }
}
@media (min-width: 768px) {
  .photo-gallery__list {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
    margin-left: 0%;
    margin-right: 0%;
    padding-bottom: 2rem;
  }
}
@media (min-width: 1280px) {
  .photo-gallery__list {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1.5rem;
    margin-left: 0%;
    margin-right: 0%;
    padding-bottom: 2rem;
  }
}
.photo-gallery__item {
  width: 100%;
}
@media (min-width: 768px) {
  .photo-gallery__item {
    width: 30%;
  }
}

.comments-section {
  background-color: #FFFFFF;
  height: 100%;
  margin-bottom: 3rem;
}

.comment-form {
  display: flex;
  align-items: flex-start;
  gap: 15px;
  margin-bottom: 30px;
}
.comment-form__fields {
  margin-top: -1rem;
}
.comment-form__picture {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  margin: 1.5rem 0 1rem 1rem;
}
@media (min-width: 768px) {
  .comment-form__picture {
    width: 48px;
    height: 48px;
    margin: 1.5rem 0 1rem 5rem;
  }
}

.container {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 95%;
}

label {
  display: block;
  padding-top: 16px;
  color: #E1E1E1;
  font-size: 10px;
  font-weight: 700;
  line-height: 20px;
}
@media (min-width: 768px) {
  label {
    font-size: 12px;
    font-weight: 700;
    line-height: 20px;
  }
}
@media (min-width: 1280px) {
  label {
    font-size: 12px;
    font-weight: 700;
    line-height: 20px;
  }
}

input {
  width: 90%;
  height: 36px;
  padding: 12px;
  border: 1px solid #E1E1E1;
  border-radius: 4px;
  margin-top: 5px;
}
@media (min-width: 768px) {
  input {
    width: 95%;
    height: 48px;
    padding: 16px;
  }
}

#comment {
  height: 6rem;
}

input:focus {
  border: 1px solid #323232;
  outline: none;
}

input.error {
  border: 1px solid #D22D2D;
}

button {
  background-color: #323232;
  color: #FFFFFF;
  border: none;
  height: 40px;
  cursor: pointer;
  border-radius: 4px;
  padding-top: 0;
  width: 90%;
  position: absolute;
  left: 0rem;
  top: 14rem;
  font-size: 10px;
  font-weight: 700;
  line-height: 20px;
}
@media (min-width: 768px) {
  button {
    width: 150px;
    padding: 0 32px;
    left: auto;
    right: 5%;
  }
}

button:hover {
  background-color: #000000;
}

#comments-container {
  margin-top: 6rem;
  height: 100%;
  width: 80%;
  justify-self: center;
}
@media (min-width: 768px) {
  #comments-container {
    width: 90%;
  }
}

.comment {
  padding: 10px;
  margin-bottom: -1rem;
}
.comment .comment__header {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}
.comment .comment__header .comment__avatar {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  background-color: #E1E1E1;
  margin-right: 10px;
}
@media (min-width: 768px) {
  .comment .comment__header .comment__avatar {
    width: 48px;
    height: 48px;
  }
}
.comment .comment__header .comment__info {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.comment .comment__header .comment__info h3 {
  margin: 1rem;
  font-weight: bold;
}
.comment .comment__header .comment__info h4 {
  color: #AFAFAF;
}
.comment .comment__divider {
  border: 1px solid #E1E1E1;
  margin-top: 10px;
}/*# sourceMappingURL=bio.css.map */